@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0%;
  font-family: 'Poppins', sans-serif;
  /* outline: 2px solid limegreen; */
}

/* --------------------------------------header-------------------- */
/* nav barre */

header {
    height: 130px;
    width: 100%;
    background: rgb(0, 0, 0, .5);
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255);
}

.logo {
    padding-left: 10px;
    width: 280px;
}

header nav {
    height: 130px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li:hover {
    background: rgba(0, 0, 0, 0.5);
    transition: 0.8s;
}

header nav ul li a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 20px #ffffff;
}

header nav ul li {
    font-size: 26px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px;
    display: block;
    padding: 45px 60px;
}

/* nav barre */

/* formulaire */


.container1 {
    background: url(../image/Yamaha.jpg);
    background-size: cover;
    background-position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #fff;
    /* Couleur de texte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Ombre textuelle */
    font-size: 38px;
    margin-top: 60px;
}

form {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    width: 500px;
    margin-bottom: 120px;
    margin-top: 50px;
    padding: 50px 30px;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    align-items: center;
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    border-radius: 2px;
    background-color: transparent;
}

form input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
}

form input[type="submit"]:hover {
    background-color: #333;
}



/* footer */
footer {
    padding: 40px 0;
    position: relative;
    background: linear-gradient(to right, white, #ddd, #7a7a7a, #ddd, white);
    background-size: 400% 400%;
    animation: gradient 15s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left {
    width: 60%;
}

.footer-left h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right li {
    margin-bottom: 10px;
}

.footer-right a {
    color: #333;
    text-decoration: none;
}

.footer-right a:hover {
    text-decoration: underline;
}