
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0%;
    font-family: 'Poppins';
}


/* --------------------------------------header-------------------- */
/* nav barre */

header{
    height: 130px;
    width: 100%;
    background: rgb(0, 0, 0, .5) ;
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255);
}

.logo{
    margin-left: 50px;
    width: 200px;
}

header nav{
    height: 130px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    list-style-type: none;
    display: flex;
}

header nav ul li:hover{
    background: rgba(0, 0, 0, 0.5);
    transition: 0.8s;
}

header nav ul li a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 20px #ffffff;
}

header nav ul li {
    font-size: 26px;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px; 
    display: block;
    padding: 45px 60px;
}


/* nav barre */

.titre{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 55px;
    padding: 275px 0px;
}

.titre h1{
    color: #ffffff;
}

.haut-main{
    background: url(./image/MTS-V4-06-Gallery-1920x1080-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    display: block;
}

/* ----------------------------------------header------------------------------ */

/* main */

h2{
    margin-left: 150px;
    margin-top: 40px;
    font-size: 50px;
}

hr{
    margin-top: 12px;
    margin-bottom: 90px;
    margin-left: 150px;
    margin-right: 150px;
}

/* --------présentation des modèles----------- */

.modèles{
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    padding-bottom: 70px;
}

.moto {
    display: flex;
    flex-direction: column;
}

.pl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 15px;
    padding-bottom: 20px;
}

.dl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 15px;
    padding-top: 20px;
}

h3{
    justify-content: center;
}
  
.véhicule {
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    border-bottom: solid rgb(0, 0, 0) 1px;
}

.véhicule:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.véhicule img {
    padding: 20px 50px;
    width: 400px;
    height: 280px;
}

.bouton {
    margin-left: 150px;
    margin-bottom: 50px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.bouton:hover {
    background-color: #0062cc;
}



/* main */


/* footer */
footer {
  padding: 40px 0;
  position: relative;
  background: linear-gradient(to right, white, #ddd, #7a7a7a, #ddd, white);
  background-size: 400% 400%;
  animation: gradient 15s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  width: 60%;
}

.footer-left h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-right ul {
  list-style: none;
  padding: 0;
}

.footer-right li {
  margin-bottom: 10px;
}

.footer-right a {
  color: #333;
  text-decoration: none;
}

.footer-right a:hover {
  text-decoration: underline;
}

/* responsive */

/* Style pour les écrans larges (desktop) */
@media screen and (min-width: 1200px) {
    .modèles {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .véhicule {
      width: 30%;
      margin-bottom: 30px;
    }
  }
  
   @media screen and (max-width: 1199px) and (min-width: 768px) { 
    .modèles {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .véhicule {
      width: 45%;
      margin-bottom: 30px;
    }
  }
  
  
  @media screen and (max-width: 767px) {
    .modèles {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .véhicule {
      width: 90%;
      margin-bottom: 30px;
    }
  }